Package: me.akeaswaran.reachweather
Name: ReachWeather
Depends: mobilesubstrate, preferenceloader, firmware (>= 8.0)
Version: 1.0.1
Architecture: iphoneos-arm
Description: Puts current weather conditions in your Reachability view (on supported devices).
Maintainer: SHIVADOC <shivadoc15@gmail.com>
Author: SHIVADOC <shivadoc15@gmail.com>
Section: Tweaks
